---
import PageLayout from "../layouts/PageLayout.astro";
import ContactForm from "../components/ContactForm";
---

<PageLayout title="Contact" summary="Get in touch">
	<p class="mb-12 text-gray-600">
		Feel free to reach out on
		<a
			href="https://x.com/antonniklasson"
			target="_blank"
			rel="noopener noreferrer"
			class="font-medium text-gray-900 hover:underline"
		>X</a>
		or
		<a
			href="https://www.linkedin.com/in/antonniklasson"
			target="_blank"
			rel="noopener noreferrer"
			class="font-medium text-gray-900 hover:underline"
		>LinkedIn</a>, or directly right here:
	</p>
	<ContactForm client:load />
</PageLayout>
