---
import { getCollection } from "astro:content";
import FormattedDate from "../components/Date.astro";
import PageLayout from "../layouts/PageLayout.astro";

const raw = await getCollection("blog");
const posts = raw
	.sort((a, b) => {
		const x = new Date(a.data.date);
		const y = new Date(b.data.date);
		return y.valueOf() - x.valueOf();
	})
	.slice(0, 6);
---

<PageLayout>
	<section>
		<h3 class="copy-title">Last few notes:</h3>

		<ul>
			{
				posts.map((post) => (
					<li>
						<div class="post">
							<h2 transition:name={`post_title_${post.id}`}>
								<a href={`/${post.slug}`}>{post.data.title}</a>
							</h2>
							<FormattedDate date={post.data.date} />
						</div>
					</li>
				))
			}
		</ul>

		<a href="/notes">See all notes →</a>
	</section>
</PageLayout>

<style>
	section {
		display: flex;
		flex-flow: column;
		gap: 64px;
	}

	.copy-title {
		text-transform: uppercase;
		font-size: 0.9em;
		color: var(--text-muted);
	}

	ul {
		list-style: none;
	}

	.post {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 4px;
		padding: 24px 0;

		a {
			text-decoration: none;
		}
	}
</style>
