---
import { getCollection } from "astro:content";
import DateComponent from "../components/Date.astro";
import PageLayout from "../layouts/PageLayout.astro";

const raw = await getCollection("blog");
const posts = raw
	.sort((a, b) => {
		const x = new Date(a.data.date);
		const y = new Date(b.data.date);
		return y.valueOf() - x.valueOf();
	})
	.slice(0, 6);
---

<PageLayout>
	<section class="space-y-10">
		<div class="space-y-4">
			<p>hi there!</p>
			<p>
				I'm currently working at <a class="text-green-600" href="https://sanalabs.com"
					>Sana</a
				>
				 as a software engineer. I enjoy developer tooling, polished interfaces, testing
				strategies, photography and minimalism.
			</p>
			<p>Here's a few ideas I found worth sharing:</p>
		</div>

		<div class="space-y-8 pl-4">
			{
				posts.map((post) => (
					<div class="group">
						<a href={`/${post.slug}`} class="block hover:translate-x-2 transition">
							<h3 class="text-lg  text-black group-hover:text-gray-500 transition">
								{post.data.title}
							</h3>
							<DateComponent date={post.data.date} />
						</a>
					</div>
				))
			}
		</div>

		<a class="block" href="/notes">see all notes →</a>
	</section>
</PageLayout>
