---
import PageLayout from "../layouts/PageLayout.astro";
import { Content } from "../content/page-content/index.mdx";
---

<PageLayout>
	<section class="space-y-10">
		<div class="space-y-4 prose prose-sm">
			<Content />
		</div>
	</section>
</PageLayout>
