---
import { getCollection } from "astro:content";
import FormattedDate from "../components/Date.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { groupBy } from "../utils/group-by";

const raw = await getCollection("blog");
const sorted = raw.sort((a, b) => {
	const x = new Date(a.data.date);
	const y = new Date(b.data.date);
	return y.valueOf() - x.valueOf();
});

const groupedByYear = groupBy(sorted, (post): number => {
	const published = new Date(post.data.date);
	return published.getFullYear();
});
---

<PageLayout>
	<div class="space-y-16">
		{
			Object.entries(groupedByYear)
				.reverse()
				.map(([year, posts]) => {
					return (
						<>
							<section class="space-y-2">
								<h3 class="text-fg-secondary text-lg">{year}</h3>

								<ul class="relative space-y-2">
									{posts.map((post) => (
										<li>
											<a
												class="block rounded p-2 transition"
												href={`/${post.slug}`}>
												<h2 class="text-md">{post.data.title}</h2>

												<FormattedDate date={post.data.date} />
											</a>
										</li>
									))}
								</ul>
							</section>
						</>
					);
				})
		}
	</div>
</PageLayout>
