---
import { getCollection } from "astro:content";
import FormattedDate from "../components/Date.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { groupBy } from "../utils/group-by";

const raw = await getCollection("blog");
const sorted = raw.sort((a, b) => {
	const x = new Date(a.data.date);
	const y = new Date(b.data.date);
	return y.valueOf() - x.valueOf();
});

const groupedByYear = groupBy(sorted, (post): number => {
	const published = new Date(post.data.date);
	return published.getFullYear();
});
---

<PageLayout>
	<div class="space-y-8">
		{
			Object.entries(groupedByYear)
				.reverse()
				.map(([year, posts]) => {
					return (
						<>
							<section>
								<h3 class="text-lg">{year}</h3>

								<ul class="relative p-4 space-y-4 before:block before:absolute before:top-4 before:left-1 before:transition-all before:w-[2px] before:h-0 hover:before:h-[calc(90%-16px)] before:duration-500 before:ease-in-out before:bg-gray-300">
									{posts.map((post) => (
										<li>
											<a
												class="block transition rounded p-2 hover:translate-x-2"
												href={`/${post.slug}`}>
												<h2 class="text-gray-700 text-base">
													{post.data.title}
												</h2>
												<FormattedDate date={post.data.date} />
											</a>
										</li>
									))}
								</ul>
							</section>
						</>
					);
				})
		}
	</div>
</PageLayout>
