---
import PageLayout from "../layouts/PageLayout.astro";
import { getCollection } from "astro:content";

let collection = await getCollection("experiences");
collection = collection.sort((a, b) => {
	const x = new Date(a.data.startDate);
	const y = new Date(b.data.startDate);
	return x.valueOf() - y.valueOf();
});

const rendered = collection.map(async (experience) => {
	const { Content } = await experience.render();
	return {
		...experience,
		body: Content,
	};
});
const experiences = await Promise.all(rendered);
---

<PageLayout>
	{
		experiences.map((experience) => {
			const Content = experience.body;

			return (
				<div class="experience">
					<header>
						<h2>{experience.data.title}</h2>
						<h3>@ {experience.data.organization}</h3>
						<time>
							{experience.data.startDate} -{" "}
							{experience.data.endDate ?? ""}
						</time>
					</header>
					<div class="prose">
						<Content />
					</div>
				</div>
			);
		})
	}
</PageLayout>

<style>
	.experience {
		margin-block: 1rem;

		time {
			font-size: 0.85em;
			font-weight: bold;
		}
	}
</style>
