@import url('https://fonts.googleapis.com/css?family=Oswald:300,600|Roboto:300,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background: WhiteSmoke;
  font: 18px/1.4 'Roboto', sans-serif;
  color: #222;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  line-height: 1.6;
  font-family: 'Oswald', sans-serif;
}

p, code {
  margin: 0.5em 0;
}

blockquote {
  margin: 1.5em;
  font-style: italic;
  font-size: 1.2em;
}

ol, ul {
  margin: 0.5em 2em;
}
ol li, ul li {
  margin: 0.2em 0;
}

pre {
  margin: 2em 1em;
  padding: 1em;
  font-size: 14px;
  background: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  line-height: 1.6;
}
pre code {
  white-space: pre-wrap;
}

a {
  color: #0071b7;
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms;
}
a:hover, a:focus {
  color: #002238;
}

hr {
  width: 80%;
  height: 1px;
  margin: 2em auto;
  background: #DDD;
  border: none;
}
