---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

type Props = {
	title?: string;
	summary?: string;
	image?: string;
};

const { title, summary, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${title ?? "anton niklasson"} | antn.se`}
			description={summary}
			image={image}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XMNWG25QKL"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-XMNWG25QKL");
		</script>
		<ViewTransitions />
	</head>

	<body transition:animate="none">
		<header>
			<h1>
				<a href="/">anton niklasson</a>
			</h1>

			<nav>
				<a href="https://x.com/antonniklasson" target="_blank"
					>twixxer</a
				>
				<a href="https://github.com/antonniklasson" target="_blank"
					>github</a
				>
				<a
					href="https://www.linkedin.com/in/antonniklasson"
					target="_blank">linkedin</a
				>
			</nav>
		</header>

		<main transition:animate="slide">
			<slot />
		</main>

		<Footer />

		<style>
			main {
				max-width: 40rem;
				width: 100%;
				margin: 64px auto;
			}

			header {
				position: fixed;
				inset: 0 0 auto 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				padding: 1rem;
				background: var(--surface);

				h1 {
					a {
						color: inherit;
						text-decoration: none;
						font-size: 1.2rem;
					}
				}

				nav {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					gap: 2rem;
					flex: 1;
					font-weight: 400;

					a {
						color: var(--text-muted);
						position: relative;
						text-decoration: none;

						&:hover {
							color: var(--text);
							scale: 1.09;
							animation: 200ms buzz linear;
						}
					}
				}
			}

			@keyframes buzz {
				30% {
					filter: blur(1px);
					translate: 2px 0;
					text-shadow: 1px 1px 1px pink;
				}
				100% {
					filter: none;
					text-shadow: none;
					translate: 0 0;
				}
			}
		</style>
	</body>
</html>
