---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import { fade } from "astro:transitions";

type Props = {
	title?: string;
	summary?: string;
	image?: string;
};

const { title, summary, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${title ?? "anton niklasson"} | antn.se`}
			description={summary}
			image={image}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XMNWG25QKL"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-XMNWG25QKL");
		</script>
		<ViewTransitions />
	</head>

	<body transition:animate="none">
		<header
			class="z-50 backdrop-blur-md bg-white p-4 fixed top-0 w-full flex flex-row justify-between border-b">
			<h1>
				<a href="/">anton niklasson</a>
			</h1>

			<nav class="text-gray-400">
				<a
					class="transition text-current hover:text-black"
					href="https://x.com/antonniklasson"
					target="_blank">twixxer</a
				>
				<a
					class="transition text-current hover:text-black"
					href="https://github.com/antonniklasson"
					target="_blank">github</a
				>
				<a
					class="transition text-current hover:text-black"
					href="https://www.linkedin.com/in/antonniklasson"
					target="_blank">linkedin</a
				>
			</nav>
		</header>

		<main
			transition:animate={fade({ duration: "0.4s" })}
			class="max-w-[40rem] w-full mx-auto my-32">
			<slot />
		</main>
	</body>
</html>
