---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import NavLinks from "../components/NavLinks";
import { twMerge } from "tailwind-merge";

type Props = {
	title?: string;
	summary?: string;
	image?: string;
	hugeHeader?: boolean;
};

const { title, summary, image, hugeHeader } = Astro.props as Props;

const links = [
	{
		label: "notes",
		url: "/notes",
	},
	{
		label: "resume",
		url: "/resume",
	},
	{
		label: "contact",
		url: "/contact",
	},
	{
		label: "linkedin",
		url: "https://www.linkedin.com/in/antonniklasson",
	},
	{
		label: "github",
		url: "https://github.com/antonniklasson",
	},
];
---

<!doctype html>
<html lang="en" class="h-full">
	<head>
		<BaseHead
			title={`${title ?? "anton niklasson"} | antn.se`}
			description={summary}
			image={image}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XMNWG25QKL"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-XMNWG25QKL");
		</script>
		<ViewTransitions />
	</head>

	<body transition:animate="none" class="relative mx-auto my-0 min-h-full w-full">
		<header
			transition:name="fade"
			id="site-header"
			class={twMerge(
				"group bg-white justify-start items-stretch z-50 transition py-5 data-[expanded=true]:py-6 data-[expanded=true]:shadow-none",
				hugeHeader ? "absolute inset-0 pt-8" : "sticky top-0 ",
			)}>
			<div
				class="mx-auto flex max-w-[65ch] flex-col items-start gap-2 px-4 sm:flex-row sm:items-center sm:justify-between sm:px-0">
				<h1 class="text-xl font-extrabold">
					<a href="/" class="flex items-center gap-3 transition">anton niklasson.</a>
				</h1>

				<NavLinks links={links} currentPath={Astro.url.pathname} client:load />
			</div>

			<span class="absolute top-full h-6 w-full bg-linear-to-b from-white to-transparent"
			></span>
		</header>

		<main transition:animate="fade" class="mx-auto my-12 max-w-[65ch] px-4 sm:my-16 sm:px-0">
			<slot />
		</main>
	</body>
</html>
