---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";

type Props = {
	title?: string;
	summary?: string;
	image?: string;
};

const { title, summary, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${title ?? "anton niklasson"} | antn.se`}
			description={summary}
			image={image}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XMNWG25QKL"
		></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-XMNWG25QKL");
		</script>
	</head>

	<body>
		<header>
			<h2>
				<a href="/">anton&nbsp;niklass<span class="cursor">o</span>n</a>
			</h2>

			<nav>
				<a href="https://cv.antn.se" target="_blank">resume</a>
				<a href="https://x.com/antonniklasson" target="_blank"
					>twitter</a
				>
				<a href="https://github.com/antonniklasson" target="_blank"
					>github</a
				>
				<a
					href="https://www.linkedin.com/in/antonniklasson"
					target="_blank">linkedin</a
				>
			</nav>
		</header>

		<main>
			<slot />
		</main>

		<Footer />

		<style>
			main {
				max-width: 40rem;
				width: 100%;
				padding: 2rem;
				padding-top: 7rem;
				margin: 0 auto;
			}

			header {
				position: fixed;
				inset: 0 0 auto 0;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: center;
				padding: 1rem;
				backgorund: var(--background);
				box-shadow: 0 0 4px var(--border);
			}

			h2 a {
				color: inherit;
				text-decoration: none;
				font-size: 1.8rem;
			}
			h2 .cursor {
				background: var(--text);
				color: var(--surface);

				animation: fade 600ms alternate infinite;
			}

			nav {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 1rem;
				flex: 1;
			}

			nav a {
				display: inline-block;
				text-decoration: none;
				font-size: 0.875rem;
				color: var(--text);
				transition: all 120ms;
				background-image: linear-gradient(transparent, transparent);
			}

			nav a:hover {
				text-fill-color: transparent;
				animation: gradient-flow 7s infinite linear;
				background-image: linear-gradient(
					45deg,
					purple,
					crimson,
					pink,
					purple
				);
				background-size: 300%;
				background-clip: text;
				-webkit-background-clip: text;
				-moz-background-clip: text;
				-webkit-text-fill-color: transparent;
				-moz-text-fill-color: transparent;
			}

			@keyframes gradient-flow {
				0% {
					background-position: 0%;
				}
				100% {
					background-position: 300%;
				}
			}

			@keyframes fade {
				from {
					filter: none;
				}
				to {
					filter: invert();
				}
			}
		</style>
	</body>
</html>
