---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import { fade } from "astro:transitions";

type Props = {
	title?: string;
	summary?: string;
	image?: string;
};

const { title, summary, image } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${title ?? "anton niklasson"} | antn.se`}
			description={summary}
			image={image}
		/>

		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-XMNWG25QKL"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());
			gtag("config", "G-XMNWG25QKL");
		</script>
		<ViewTransitions />
	</head>

	<body transition:animate="none" class="relativew-full mx-auto">
		<header class="shadow sticky top-0 bg-white z-50 backdrop-blur-md bg-white py-4 text-lg">
			<div class="max-w-[65ch] mx-auto">
				<h1 class="text-right">
					<a href="/">anton niklasson</a>
				</h1>
			</div>
		</header>

		<main transition:animate={fade({ duration: "0.4s" })} class="max-w-[65ch] mx-auto my-32">
			<slot />
		</main>
	</body>
</html>
